
@{
    ViewData["Title"] = "Has No Legs";
}

<h2 class="jumbotron text-center" style="background-color: darkseagreen">Tails N Scales Reptile Room</h2>

<div class="text-center">
    <h3>You have chosen HAS NO LEGS!</h3>
    <div>
        <p>
            Your new friend seems to like you! Is that a "hug"? Hmm.. @UserHelper.GetPlayerName(Context), you better research snake behaviour...
        </p>
    </div>

    <div class="text-center" style="border: dotted">
        <h4>What would you like to do?:</h4>

        <a asp-action="WorkInProgress" asp-controller="Home">Put your new reptile in carrier</a><br />

        <a asp-action="WorkInProgress" asp-controller="Home">Name your new reptile</a><br />

        <a asp-action="WorkInProgress" asp-controller="Home">Browse store for supplies</a><br />

        <a asp-action="WorkInProgress" asp-controller="Home">Leave store</a><br />

    </div><br />
    <div>
        <a asp-action="PickAnAnimal" asp-controller="Home" class="btn btn-sm btn-outline-info text-black-50">Pick a different animal</a>
    </div>
</div>
