
@{
    ViewData["Title"] = "Work In Progress";
}

<h1>Coming Soon!</h1>

<ul>
    <li>
        Interact with your companion!
    </li>
    <li>
        Name your companion!
    </li>
    <li>
        Shop for supplies!
    </li>
    <li>
        Exploring the city!
    </li>
    <li>
        Finding your house!
    </li>
    <li>
        Getting MORE companions!
    </li>
</ul>

